@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .btn {
    @apply mr-[21px] block
     shrink-0
      rounded-[100px] 
      bg-primary02 py-4 
      px-6 
      text-sm 

      sm:px-10 
      md:text-xl
      lg:px-8
      lg:hover:opacity-50 
      lg:hover:duration-300 
      lg:hover:ease-in-out;
  }

  .parallax-bg01 {
    background-image: url("/dist/img/THE F2E 4TH/WEEK 1/大螢幕 ( 桌機 )/7-l-c.png");
    height: 735px;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* @apply bg-[url('/dist/img/THE F2E 4TH/WEEK 1/大螢幕 ( 桌機 )/7-l-c.png')]  h-[735px] bg-fixed bg-center bg-no-repeat bg-cover */
  }

  .parallax-bg02 {
    background-image: url("/dist/img/THE F2E 4TH/WEEK 1/大螢幕 ( 桌機 )/8-l-a.png");
    height: 540px;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* @apply bg-[url('/dist/img/THE F2E 4TH/WEEK 1/大螢幕 ( 桌機 )/7-l-c.png')]  h-[735px] bg-fixed bg-center bg-no-repeat bg-cover */
  }
}

@layer utilities {
  .writing-lr {
    writing-mode: vertical-lr;
  }
  .container-sm {
    max-width: 856px;
    margin: 0 auto;
  }
  .loop {
    display: inline-block;
    font-size: 5rem;
    color: transparent;
    white-space: nowrap; /*文字必須設為nowrap，否則文字會自動換行*/
    height: 100%;
    -webkit-text-stroke: 1px black;
  }
  .cardCont
{
  position:relative;
}
.cardFront, .cardBack
{
  position:absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
}
