@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 16px;
    line-height: 1.5;
  }
}

@layer components{
  .btn {
    @apply py-4 px-6
     bg-primary02
      rounded-[100px] 
      text-sm mr-[21px] 
      block 
      shrink-0 

      sm:px-10 
      md:text-xl
      lg:px-8
      lg:hover:opacity-50 
      lg:hover:duration-300 
      lg:hover:ease-in-out 
  }
}